{% extends "main.html" %}

 {% block css %}
			{{super()}}
            <link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet">
{% endblock %}
{% block scripts %}
			{{super()}}
            <script type="text/javascript" src="{{ url_for('static', filename='js/get_category.js') }}"></script>
{% endblock %}

{% block content %}
 <div id="alertDiv">
        {% if errors %}
                <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div class="text-center alertSize">{{ errors }}</div>
                </div>
        {% endif %}
 </div>

<form action="" method="POST">
<div class="container">
	<div class="center-block" id="load"></div>
    <div id ="main" class="row clearfix">
    	<div class="col-md-12 table-responsive">
			<h4>Дата покупки:{{purchase.purchase_date}} Магазин:{{purchase.shop}} Итог: {{purchase.price}} </h4>
			<input id="purchase" name="purchase" value="{{purchase.id}}" type="hidden">
			<table class="table table-bordered table-hover table-sortable" id="tab_logic">
					<tr >
						<th class="text-center">
							Название
						</th>
						<th class="text-center">
							Количество
						</th>
						<th class="text-center">
							Цена
						</th>
						<th class="text-center">
							Категория
						</th>
					</tr>
                {% for item in items %}
    				<tr>
						<td>
						    <input type="text" name="{{'name' ~ item.id}}"   class="form-control" value="{{item.name}}"/>
						</td>
						<td>
							{{item.number}}
						</td>
						<td>
						    {{item.summ}}
						</td>
    					<td>
						    <select name="{{'category' ~ item.id}}">
								<option value="{{item.category}}">{{item.category}}</option>
                                {% for category in categories%}
									{% if category != item.category %}
								    <option value="{{category}}">{{category}}</option>
									{% endif %}
								{% endfor%}
						    </select>
						</td>
					</tr>
                {% endfor %}
			</table>
		</div>
	</div>

     <div id = "buttons" class="panel-footer clearfix">
            <div class="col-md-3">
               <a id="add_category" class="btn btn-info btn-block pull-right">Новая категория</a>
            </div>
           <div class="col-md-3">
               <a id="auto_categorization" class="btn btn-info btn-block pull-right">Определить категории</a>
           </div>
          <div class="col-md-6">
               <button type="submit" id="save" class="btn btn-success btn-block pull-right">Сохранить</button>
          </div>
     </div>
</form>
</div>

{%endblock%}